<h1>Post a Team!</h1>

<form action="/tweets" method="POST">
  <label>Team Name:</label>
  <input type="text" name="team[name]" value="Team Name">

  <br></br>

  <label>Point Guard:</label>
  <input type="text" name="team[point_guard]" value="Point Guard">

  <br></br>

  <label>Shooting Guard:</label>
  <input type="text" name="team[shooting_guard]" value="Shooting Guard">

  <br></br>

  <label>Small Forward:</label>
  <input type="text" name="team[small_forward]" value="Small Forward">

  <br></br>

  <label>Power Forward:</label>
  <input type="text" name="team[power_forward]" value="Power Forward">

  <br></br>

  <label>Center:</label>
  <input type="text" name="team[center]" value="Center">

  <br></br>

  <label>Sixth Man:</label>
  <input type="text" name="team[sixth_man]" value="Sixth Man">

  <br></br>

  <input type="submit" id="submit" value="Post Team">

</form>
